<section class="section">

    <div class="row">
        <div class="col-lg-12">
            <div class="container">

                <div class="pagetitle">
                    <div class="e">
                    </div>
                    <a href="index.html"><i class="bi bi-arrow-left"></i> Voltar para o início</a>
                    <div class="e">
                    </div>
                </div>


                <h1>FDD (FEATURRE DRIVEN DEVELOPMENT) </h1>
                <br>
                <div>
                    <p> Busca o desenvolvimento por funcionalidade.</p>
                    <p> Possibilita entregas periódicas. </p>
                    <p> Permite a equipe realizar um planejamento incremental, por fases.</p>
                    <p> Possível ser adotado em projetos novos como também em projetos já existentes.</p>
                    <p> Ciclo de vida curto.</p>

                    <div class="f"> </div>

                    <ul>

                        <li>
                            Papéis no FDD 
                            <div class="f"> </div> 
    
                            <div class="imagemRequistosFDD" >
                                <img src="assets/img/metodologia/fdd/papeisFDD.png">
                            </div>
            
                            <div class="f"> </div>

                            <ul>
                                <li> Gerente de projeto
                                    <ul>
                                        <li> Cuida da parte administrativa e financeira.</li>
                                        <li> Faz o planejamento da ordem em que as funcionalidades serão implementadas.</li>
                                    </ul>
                                </li>
                                <br>
                                <li> Gerente de desenvolvimento
                                    <ul>
                                        <li> Planeja a ordem em que as funcionalidades são implementadas, junto com o gerente de projeto.</li>
                                        <li> Responsável por resolver qualquer tipo de conflito dentro da equipe.</li>
                                    </ul>
                                </li>
                                <br>
                                <li> Especialistas 
                                    <ul>
                                        <li> Adquirir e transmitir informações a respeito do funcionamento dos requisitos do sistema</li>
                                    </ul>
                                </li>
                                <br>
                                <li> Guru da linguagem
                                    <ul>
                                        <li> Dominar as linguagens.</li>
                                        <li> Permitir que o fluxo de programação não atrase por falta de experiência ou conhecimento técnico.</li>
                                    </ul>
                                </li>
                                <br>
                                <li> Engenheiro de Build
                                    <ul>
                                        <li> Responsável por criar e manter o processo de build para as várias versões.</li>
                                        <li> Encarregado da documentação da versão.</li>
                                    </ul>
                                </li>
                                <br>
                            </ul>
                        </li>          
                    </ul>
                    <div class="f"> </div> 



                    <ul>
                        <li> Fases do FDD
                            <br><br>
                            <ul>  Possui apenas duas fases.
                                <div class="f"> </div> 
                                <div class="imagemRequistosFDD" >
                                    <img src="assets/img/metodologia/fdd/requisitos.png">
                                </div>
                                <div class="f"> </div>

                                <li> Concepção e Planejamento 
                                    <br><br>
                                    <ul>
                                        <li> Obtidos os requisitos do sistema.</li>
                                        <li> São compostas por três processos:
                                            <br> <br>
                                            <ul> 
                                                <li>Desenvolver um Modelo Abrangente (DMA)</li>
                                                <ul>
                                                    <li> Processo inicial do projeto.</li>
                                                    <li> Realizada por qualquer desenvolvedor ou representante do negócio orientados por um arquiteto líder.</li>
                                                    <li> Este modelo guiará a equipe durante os ciclos futuros.</li>
                                                </ul>

                                                <br>

                                                <li> Construir a Lista de Funcionalidades (CLF)</li>
                                                <ul>
                                                    <li> É feita uma separação do mesmo em três camadas:</li>
                                                    <ul>
                                                        <li> Áreas de negócio.</li>
                                                        <li> Atividades de negócio.</li>
                                                        <li> Passos automatizados da atividade.</li>
                                                    </ul>
                                                </ul>

                                                <br>

                                                <li> Planejar por Funcionalidade (PPF) </li>
                                                <ul>
                                                    <li> Forma o time de planejamento.</li>
                                                    <li> Realiza o planejamento da ordem em que as funcionalidades serão implementadas.</li>
                                                    <li> Estabele uma data de lançamento para a release inicial.</li>
                                                    <li> Refina da lista de funcionalidades.</li>
                                                    <li> Atribui um plano de desenvolvimento através do trabalho técnico.</li>
                                                </ul>

                                            </ul>
                                        </li>
                                    </ul>
                                </li>

                                <br><br>
                                <li> Construção
                                    <br><br>
                                    <ul> 
                                        <li> Detalhamento de funcionalidades, composta por dois processos:
                                            <br><br>
                                            <ul>
                                                <li> Detalhar por Funcionalidade (DPF)
                                                    <ul>
                                                        <li> Executado uma vez em cada funcionalidade.</li>
                                                        <li> Detalha os requisitos e outros artefatos para a codificação de cada funcionalidade.</li>
                                                        <li> Feito um esboço da interface do usuário.</li>
                                                        <li> Feito um diagrama de sequência mais detalhado e eventuais consultas a especialista.</li>
                                                    </ul>
                                                </li>
                                                <br>
                                                <li> Construir por Funcionalidade (CPF)
                                                    <ul>
                                                        <li> Realizada uma vez em cada funcionalidade.</li>
                                                        <li> Construídas funcionalidades implementando todas as classes e métodos necessários.</li>
                                                        <li> Feitos testes de unidades.</li>
                                                        <li> Inspeção determinados pelo programador líder.</li>
                                                        <li> Funcionalidades são inseridas no build.</li>
                                                    </ul>
                                                </li>

                                            </ul>
                                        </li>
                                    </ul>
                                </li>

                            </ul>
                        </li>
                    </ul>

                </div>


                <div>
                    <br><br>
                    <h4> Benefícios</h4>
                    <br>
                       <ul>
                            <li> Sistemas que mudam de requisitos constantemente.</li>
                            <li> Possível de aplicar metodologia em projetos em andamento.</li>
                        </ul>
                </div>
       


            </div>
        </div>
    </div>

</section>