<loader></loader>
<app-header></app-header>
<app-nav></app-nav>
<main id="main" class="main">

  <div class="pagetitle">
    <h1>Update your register</h1>
    <!-- <p>Two-way data binding</p>
    <p>{{data.email}}</p>
    <p>{{data.nome}}</p>
    <p>{{data.cpf}}</p>
  
    <p>{{data.fone}}</p>
    <p>{{data.linkedin}}</p>
    <p>{{data.senha}}</p>
    <p>{{data.vaga}}</p> -->

  </div>

  <section class="section">
    <div class="row">
      <div class="col-lg-12">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Edit User</h5>

            <form (ngSubmit)="onSubmit(data)">
              <div class="row gy-4">

                <div class="form-group col-md-6">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" name="email" [(ngModel)]="data.email" class="form-control" 
                    aria-describedby="emailHelp" required minlength="4" #email="ngModel">
                    <p class="cor" *ngIf="email.invalid && email.touched">Required</p>
                </div>
                

                <div class="form-group col-md-6">
                  <label for="exampleInputEmail1">Name</label>
                  <input type="text" name="nome" class="form-control" [(ngModel)]="data.nome" 
                    aria-describedby="emailHelp">
                </div>

                <div class="form-group col-md-6">
                  <label for="exampleInputEmail1">Curriculo <i class="bi bi-file-pdf"></i> &ensp;(only pdf)</label>
                  <input type="file" name="file" class="form-control"
                   action="multipart/form-data"
                    accept="application/pdf"
                    (change)="onChange($event)"
                   aria-describedby="emailHelp">
                    
                    <a href="javascript:void(0)" (click)="onClickDownloadPdf(data.file)"><i class="bi bi-cloud-download"></i>&ensp;Curriculo atual</a>
                </div>

                
                <div class="form-group col-md-6">
                  <label for="exampleInputEmail1">Avatar</label>
                  <input type="file" name="avatar" class="form-control" [(ngModel)]="data.avatar"
                   action="multipart/form-data"
                   
                    (change)="onChangeAvatar($event)"
                     aria-describedby="emailHelp">
                </div>
              
                <div class="form-group col-md-6">
                  <label for="exampleInputEmail1">Phone</label>
                  <input type="text" name="fone" class="form-control" [(ngModel)]="data.fone"
                    aria-describedby="emailHelp">
                </div>

                <!-- <div class="form-group col-md-6">
                  <label for="exampleInputEmail1">Linkedin</label>
                  <input type="text" name="linkedin" class="form-control" [(ngModel)]="data.linkedin"
                    id="exampleInputEmail1" aria-describedby="emailHelp">
                </div> -->

                <div class="form-group col-md-6">
                  <label for="exampleInputEmail1">Vacancy</label>
                  <select class="form-select" aria-label="Default select example" name="vaga" [(ngModel)]="data.vaga" >
                    <option selected>Vaga atual: {{data.vaga}}</option>
                    <option *ngFor="let vacancie of vacancies">{{vacancie.vacancy}}</option>
                  </select>
                </div>

                <div class="form-group col-md-6">
                  <label for="exampleInputEmail1">Linkedin</label>
                  <input type="text" name="linkedin" class="form-control" [(ngModel)]="data.linkedin"
                     aria-describedby="emailHelp">
                </div>

                <div class="form-group col-md-6">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" name="senha" class="form-control" [(ngModel)]="data.senha"
                    id="exampleInputPassword1">
                </div>

              </div>
              <br>
              <button type="submit" class="btn btn-primary" [disabled]="!email.valid">Submit</button>
            </form>
           
           
          </div>
        </div>

      </div>


    </div>
  </section>

</main>