<section class="section">

    <div class="row">
        <div class="col-lg-12">
            <div class="container">

                <div class="pagetitle">
                    <div class="e"></div>
                    <a href="index.html"><i class="bi bi-arrow-left"></i> Voltar para o início</a>
                    <div class="e"></div>
                </div>
                
                <h1>Scrum</h1>
                <br>
                <div>
                    <p> Scrum estimula as equipes a aprenderem com as experiências, a se organizarem enquanto resolvem um problema e a 
                        refletirem sobre os êxitos e fracassos para melhorarem sempre.</p>
                    <p> Podem ser aplicados a todos os tipos de trabalhos em equipe. </p>
                    <p> Scrum descreve um conjunto de reuniões, ferramentas e cargos que atuam juntos para ajudar as equipes a organizarem 
                        e gerenciarem o trabalho.</p>
                    <p> A estrutura do Scrum é baseada no aprendizado contínuo e na adaptação aos fatores variáveis.<p>
                    <p> Pode ser adaptado às necessidades de qualquer empresa.</p>

                </div>
                
                <div class="f"> </div> 
    
                <div class="imagemScrum" >
                    <img src="assets/img/metodologia/scrum/sprint_cycle.png">
                </div>

                <div class="f"> </div> 
                    
                <div>
                    <h4>Termos</h4>
                    <br>
                       <ul>
                            <li> Sprints
                                <ul> 
                                    <li><span> São os ciclos de cada projeto. </span></li>
                                    <li><span> Em geral são ciclos mensais e são determinados para que as tarefas sejam realizadas.</span></li>
                                    <li><span> Todos os eventos, desde o planejamento à retrospectiva, ocorrem durante o sprint.</span></li>
                                </ul>
                            </li><br>

                            <li> Product Backlog
                                <ul><li>
                                    <span> Nome dado ao pacote de funcionalidades a serem desenvolvidas em um projeto.</span>
                                </li></ul></li><br>

                            <li> Sprint Planning Meeting
                                <ul><li>
                                    <span> São reuniões periódicas que acontecem no início de cada sprint, ou ciclo, para planejar 
                                        e priorizar os itens do Product Backlog que serão desenvolvidos naquele período..</span>
                                </li></ul></li><br>

                            <li> Sprint Backlog
                                <ul> <li>
                                    <span> São as tarefas específicas que serão realizadas e desenvolvidas em cada ciclo, ou sprint.</span>
                                </li></ul></li><br>

                            <li> Daily Scrum
                                <ul> 
                                    <li><span>É a reunião diária para acompanhamento do projeto.</span>
                                        <ul>                                        
                                            <li>O que eu fiz ontem?</li>
                                            <li>O que eu planejo fazer hoje?</li>
                                            <li>Há algum obstáculo?</li>
                                            <br>
                                        </ul>
                                    </li>

                                    <li><span>A ideia é que toda a equipe se reúna diariamente para discutir:</span>
                                         <ul>
                                            <li><span> Atividades desenvolvidas.</span></li>
                                            <li><span> Disseminar conhecimento.</span></li>
                                            <li><span> Identificar impedimentos.</span></li>
                                            <li><span> Priorizar o trabalho daquele dia.</span></li>
                                            <br>                
                                         </ul> 
                                    </li>
                                    
                                </ul></li><br>
                            <li> Sprint Review Meeting
                                <ul> 
                                    <li><span> Reunião que acontece ao final de cada sprint.</span></li>
                                    <li><span> Equipe apresente o que foi realizado e os resultados do trabalho daquele ciclo.</span></li> 
                                </ul>
                            </li>
                        </ul>

                        <br>
                        <br>

                    <h4>Funções</h4>
                    <ul>
                        <li> Proprietário
                            <ul>
                                <li><span> Criam e gerenciam o backlog do produto.</span></li>
                                <li><span> Estabelecem uma parceria estreita com os negócios e a equipe para garantir que todos compreendam os itens de trabalho no backlog do produto.</span></li>
                                <li><span> Orientam claramente a equipe sobre quais recursos entregar em seguida.</span></li>
                                <li><span> Decidem quando lançar o produto com uma predisposição para entrega mais frequente.</span></li>
                            </ul>
                        </li>
                        <br>
                        <li> Scrum master
                            <ul>
                                <li><span> Orientam 
                                    <ul> 
                                        <li> <span> Equipe.</span></li>
                                        <li> <span> Proprietários.</span></li>
                                        <li> <span> Negócio.</span> </li> 
                                    </ul>
                                </span>
                                <br>    
                                <li><span> Procuram maneiras de melhorar a prática.</span></li>
                            </ul>
                        </li>
                        <BR>
                        <li> Equipe de desenvolvimento </li>

                    </ul>
                </div>

                <div class="f"> </div>

                <div>
                    <h4>Porque usar</h4>
                       <ul>
                            <li> As regras, os artefatos, os eventos e as funções são fáceis de entender.</li>
                            <li> Abordagem semiprescritiva ajuda a remover as ambiguidades no processo de desenvolvimento.</li>
                            <li> Fornece espaço suficiente para as empresas introduzirem suas próprias preferências.</li> 
                            <li> A organização de tarefas complexas em histórias de usuários gerenciáveis o torna ideal para projetos difíceis.</li>
                            <li> Demarcação clara de funções e eventos planejados.</li>  
                            <li> Lançamentos rápidos mantêm a equipe motivada.</li>  
                        </ul>
                </div>

                <div class="f">
                </div>  

    

            </div>
        </div>
    </div>

</section>