<loader></loader>
<app-header></app-header>
<app-nav></app-nav>
<main id="main" class="main">

  <div class="pagetitle">
    <h1>Cadastro de Usuário</h1>
  </div>

  <section class="section">
    <div class="row">
      <div class="col-lg-12">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Novo Usuário</h5>

            <form (ngSubmit)="onSubmit(data)">
              <div class="row gy-4">

                <div class="form-group col-md-6">
                  <label for="name">Pessoa</label>
                  <select class="form-select"   >
                      <option *ngFor="let pessoa of pessoas" [value]="pessoa.id">{{pessoa.nome}}</option>
                  </select>
                </div>

                <div class="form-group col-md-6">
                  <label for="login">Login</label>
                  <input type="login" name="login"  [(ngModel)]="data.login" class="form-control" 
                    aria-describedby="login" required minlength="4" #nome="ngModel">
                </div>

                <div class="form-group col-md-6">
                  <label for="password">Senha</label>
                  <input type="text" name="password"  [(ngModel)]="data.senha" class="form-control" 
                    aria-describedby="password" required minlength="4" #nome="ngModel">
                </div>

              </div>
              <br>
              <button type="submit" class="btn btn-primary">Salvar</button>
            </form>

            <br>

            <div class="input-group s">
              <div class="mb-3">
                  <div class=" col-md-12">
                      <input type="text" [(ngModel)]="pesquisa" name="pesquisa"
                          class="form-control" placeholder="Pesquisar">
                  </div>
  
                  
              </div>
              &nbsp;&nbsp;
              <div class="mb-3">
                  <div class=" col-md-12">
                      <button type="button" class="btn btn-primary"
                          (click)="pesquisar(pesquisa)">Pesquisar</button>
                  </div>
              </div>
          </div>
           
            <div id="container">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Pessoa</th>
                    <th scope="col">Login</th>
                  </tr>
                </thead>
      
                <tbody>
                  <tr *ngFor="let usuario of usuarios | filter:filter; let i = index">
      
                    <th scope="row">{{usuario.pessoa.nome}}</th>
                    <td>{{usuario.login}}</td>
                    <td>
      
                      <a class="edit" title="Edit" href="javascript:void(0)" (click)="edit(usuario.id)"><i
                          class="bi bi-pencil-square"></i></a>
                      &nbsp;&nbsp;
                      
                      <a class="del" title="Delete" href="javascript:void(0)" (click)="delete(usuario.id)"><i
                          class="bi bi-x-circle"></i></a>
      
      
      
                    </td>
                  </tr>
      
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>

</main>