<section class="section">

    <div class="row">
        <div class="col-lg-12">
            <div class="container">

                <div class="pagetitle">
                    <div class="e">
                    </div>
                    <a href="index.html"><i class="bi bi-arrow-left"></i> Back to home</a>
                    <div class="e">
                    </div>
                </div>
                <div class="e">
                </div>
                <h1>Perguntas e respostas.</h1>
                <div class="e">
                </div>
                <!-- <p>in development...</p> -->

                <hr class="dropdown-divider">
                <p>O Modelo de Referencia ISO OSI (Open Systems Interconnection), trata da interconexao de sistemas. Uma
                    de suas camadas é a camada de rede que controla a operação da sub-rede. Uma questão fundamental de
                    projeto é determinar a maneira como os pacotes são roteados da origem até o destino. As rotas podem
                    se basear em tabelas estáticas, "amarradas" a rede e raramente alteradas.

                    TANENBAUM, Andrew S. Redes de computadores. 4 ed. Rio de Janeiro: Campus, 2003

                    Diante do contexto sobre a Camada de Rede do Modelo OSI, analise as afirmações.

                    I - A camada de rede funciona com a transferência de pacotes ponto-ponto.
                    II - A entrega dos pacotes ao seu destino é garantida, recebendo-o na mesma ordem em que foi
                    enviado, mesmo que ocorra atraso na entrega.
                    III - Possui um serviço orientado a conexão, neste caso os pacotes serão adicionados na rede de
                    forma individual e roteados de modo independe.
                    IV - Possui um serviço não orientado a conexão, e deverá estabelecer um caminho desde o roteador de
                    origem até o roteador de destino, antes de enviar qualquer pacote de dados.

                    É correto o que se afirma em:</p>

                <p><b>Alternativas</b></p>
                <p> Alternativa 1:
                    I, apenas.</p>
                <p> Alternativa 2:
                    II, apenas.</p>
                <p class="correto">
                    Alternativa 3:
                    I e II, apenas.</p>
                <p> Alternativa 4:
                    II, III e IV, apenas.</p>
                <p> Alternativa 5:
                    I, II, III e IV.</p>

                <p><b>Resposta: Alternativa 3</b></p>
                <p>Comentário: Respostas já corrigida pela Universidade.</p>

                <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="./../../../assets/respostas/respostas01.png" class="d-block w-100" alt="respotas">
                        </div>
                    </div>
                </div>
                <div class="e">
                </div>

                <hr class="dropdown-divider">

                <div class="f">
                </div>

                <p>Redes corporativas são sistemas, internos ou externos, que têm a finalidade de transmissão de dados
                    que poderá transferir informações entre os diversos dispositivos conectados na mesma rede, tais como
                    computadores pessoais, servidores de documentos e arquivos, impressoras, e entre outros e o mundo
                    externo via acesso a internet.

                    Com base neste assunto, analise as afirmações, a seguir, sobre a intranet e extranet:

                    I - A intranet é uma rede interna, que não precisa estar conectada com a internet.
                    II - O acesso a uma intranet pode acontecer de modo interno ou externo sem problemas.
                    III - A extranet tem como base o acesso de dados por meio da internet como meio de comunicação.
                    IV - Utilização da extranet é para facilitar a troca de informações, tal acesso a estes dados é de
                    livre, sem restrições de controle de acesso.

                    É correto o que se afirma em:</p>

                <p><b>Alternativas</b></p>
                <p> Alternativa 1:

                    I e II apenas.</p>
                <p> Alternativa 2:

                    II e III apenas.</p>
                <p>
                    Alternativa 3:
                    III e IV apenas.</p>
                <p class="correto"> Alternativa 4:
                    I e III apenas.</p>
                <p> Alternativa 5:
                    II e IV apenas.</p>

                <p><b>Resposta: Alternativa 4</b></p>
                <p>Comentário: Respostas já corrigida pela Universidade.</p>

                <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="./../../../assets/respostas/respostas02.png" class="d-block w-100" alt="respotas">
                        </div>
                    </div>
                </div>
                <div class="e">
                </div>

                <hr class="dropdown-divider">

                <div class="f">
                </div>

                <p>Uma topologia de rede é a representação lógica (no papel) de como será a disposição física de cada nó
                    na rede física. Ao efetuarmos o desenho da topologia, podemos visualizar melhor a sua distribuição e
                    organização, além de compreender como será o fluxo de dados. Na literatura é apresentado diversas
                    topologias, algumas destas não implementadas, e outras presentes até hoje nas organizações.

                    Vejamos o trecho a seguir da descrição de um tipo de topologia:

                    Seus dispositivos são conectados em série, os dados são transmitidos em uma única direção, até que o
                    nó ache seu destino. Dependendo do destino, o pacote pode passar por todos os nós da rede. Os dados
                    seguem uma única direção de fluxo de dados.

                    Com base no trecho apresentado e em seus estudos, podemos afirmar que esta topologia é:</p>

                <p><b>Alternativas</b></p>
                <p> Alternativa 1:
                    Barramento</p>
                <p> Alternativa 2:

                    Malha</p>
                <p class="correto">
                    Alternativa 3:
                    Anel</p>
                <p> Alternativa 4:
                    Árvore</p>
                <p> Alternativa 5:
                    Estrela</p>

                <p><b>Resposta: Alternativa 3</b></p>
                <p>Comentário: Respostas já corrigida pela Universidade.</p>

                <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="./../../../assets/respostas/resposta03.png" class="d-block w-100" alt="respotas">
                        </div>
                    </div>
                </div>
                <div class="e">
                </div>

                <hr class="dropdown-divider">

                <div class="f">
                </div>

                <p>O roteamento exerce grande vantagem, dentre elas a escolha de uma melhor rota, de acordo com alguns
                    critérios especificados, tem adaptação à diferentes tecnologias de redes físicas, confiança no envio
                    e controle de acesso e também a reportagem de erros, caso algum pacote tenha chegado com algum erro
                    ao seu destino final (ROSS; KUROSE, 2013).

                    ROSS, K. KUROSE, J. F. Redes de Computadores e a Internet: uma abordagem top down. 5 ed. São
                    Paulo:Pearson, 2013.

                    Mesmo o tipo de roteamento sendo um fator importante para a troca de informações, não é o usuário
                    que define o mesmo, mas sim o próprio equipamento de rede que faz a implementação de algumas
                    técnicas. No decorrer de nossa disciplina, estudamos 4 estratégias em relação ao roteamento, vejamos
                    a seguir os tipos e suas características.

                    1 - Algoritmo de Roteamento
                    2 - Roteamento Estático
                    3 - Roteamento Hierárquico
                    4 - Roteamento Dinâmico

                    ( ) Armazena informações de rota realizadas manualmente pelo administrador da rede.
                    ( ) Armazena atualizações de rota automaticamente em períodos de tempos regulares.
                    ( ) Utilizado quando há o aumento substancial das redes e os roteadores não conseguem gerenciar o
                    tráfego da rede.
                    ( ) Parte do software da camada de rede responsável pelo caminho que será tomado para a saída e
                    transmissão dos pacotes.

                    Podemos afirmar que a associação correta entre as colunas é:</p>

                <p><b>Alternativas</b></p>
                <p> Alternativa 1:
                    1 - 4 - 3 - 2</p>
                <p> Alternativa 2:

                    2 - 3 - 4 - 1</p>
                <p class="correto">
                    Alternativa 3:
                    2 - 4 - 3 - 1</p>
                <p> Alternativa 4:
                    3 - 4 - 1 - 2</p>
                <p> Alternativa 5:
                    3 - 2 - 4 - 1</p>

                <p><b>Resposta: Alternativa 3</b></p>
                <p>Comentário: Respostas já corrigida pela Universidade.</p>

                <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="./../../../assets/respostas/resposta04.png" class="d-block w-100" alt="respotas">
                        </div>
                    </div>
                </div>
                <div class="e">
                </div>

                <hr class="dropdown-divider">

                <div class="f">
                </div>


                <p>Compreendemos que rede de computadores tem como função a interligação de dispositivos, esta
                    interligação pode acontecer por meio físico (cabeada) ou sem fio (wireless), sendo interligado
                    dispositivos a curta ou longa distância. Atualmente, podemos utilizar a internet como meio de
                    comunicação global, mas devemos compreender que ainda estamos falando de interligação de
                    dispositivos, afinal ao acessar pelo seu computador uma página WEB é a interligação entre dois
                    equipamentos.

                    É notório a importância das redes de computadores nos tempos atuais, sendo assim, com base em nossos
                    estudos na disciplina, podemos afirmar que o principal objetivo da ligação de equipamentos em redes
                    de computadores é: </p>

                <p><b>Alternativas</b></p>
                <p> Alternativa 1:
                    Alternativa 1:
                    Único e exclusivo objetivo de redução de equipamento e cabeamentos circulando nas extremidades.</p>
                <p class="correto"> Alternativa 2:

                    O Objetivo está ligado a troca de informações e aproveitamento de recursos de modo compartilhado.
                </p>
                <p>
                    Alternativa 3:
                    O objetivo de associar computadores em Rede, é único e exclusivo para a troca de dados mais rápidos.
                </p>
                <p> Alternativa 4:
                    O Objetivo na interligação em redes está no fato das informações serem propagadas de modo lento, em
                    uma rede isso é 100% mais veloz.</p>
                <p> Alternativa 5:
                    O objetivo está em aproximar as comunicações entre duas pessoas ou sistemas, assim facilitando a
                    interação exclusiva entre equipamentos não cabeados.</p>

                <p><b>Resposta: Alternativa 2</b></p>
                <p>Comentário: Respostas já corrigida pela Universidade.</p>

                <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="./../../../assets/respostas/resposta05.png" class="d-block w-100" alt="respotas">
                        </div>
                    </div>
                </div>
                <div class="e">
                </div>

                <hr class="dropdown-divider">

                <div class="f">
                </div>

                <p>Cada dia que passa, as organizações têm pensado com mais dedicação a respeito da segurança em seu contexto informacional. Existe a segurança na comunicação, que visa garantir algumas características essenciais.

                    Considerando o exposto acima, associe as colunas, apontando o que significa cada característica:
                     
                    
                    1. Confidencialidade.
                    
                    (  ) Os diferentes serviços devem estar acessíveis aos usuários.
                    
                    2. Integridade de mensagem.
                    
                    (  ) O acesso à informação deve ser concedido apenas a quem tem direito.
                    
                    3. Disponibilidade.
                    
                    (  ) A capacidade de estabelecer se algo ou alguém é autêntico.
                    
                    4. Autenticação e autorização.
                    
                    (  ) Preservar as características originais de uma informação.
                    
                    5. Segurança operacional.
                    
                    (  ) Garantir que a informação esteja sempre acessível aos usuários autorizados.
                    
                    
                    A sequência correta desta classificação é: </p>

                <p><b>Alternativas</b></p>
                <p> Alternativa 1:
                    3, 1, 4, 2, 5.</p>
                <p> Alternativa 2:

                    3, 4, 2, 5, 1.
                </p>
                <p>
                    Alternativa 3:
                    4, 1, 5, 3, 2.
                </p>
                <p class="correto"> Alternativa 4:
                    5, 1, 4, 2, 3.</p>
                <p> Alternativa 5:
                    5, 4, 2, 1, 3.</p>

                <p><b>Resposta: Alternativa 4</b></p>
                <p>Comentário: Respostas já corrigida pela Universidade.</p>

                <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="./../../../assets/respostas/respostas06.png" class="d-block w-100" alt="respotas">
                        </div>
                    </div>
                </div>
                <div class="e">
                </div>

                <hr class="dropdown-divider">

                <div class="f">
                </div>

                <p>Hub, também conhecido como concentrador, é um equipamento utilizado na área da informática para realizar a conexão de computadores de uma rede e possibilitar a transmissão de informações entre essas máquinas.  O hub é um dos primeiros aparelhos utilizados por empresas que desejavam trocar informações dentro de uma rede local. Ele é ligado em redes LAN, MAN, WAN e TAN e possui um endereço de IP para permitir que as informações trafeguem por meio dessas conexões.

                    REDAÇÃO. O que é hub? Blog Canaltech, [2022]. Disponível em: https://bit.ly/3FVHUXZ. Acesso em: 04 fev. 2022.
                   
                   O Hub por anos foi dito como um dos equipamentos mais úteis em interligações de equipamentos em rede, entretanto ele está caindo em desuso ao comparar com outros equipamentos mais modernos, isso porque o HUB atua da seguinte forma: </p>

                <p><b>Alternativas</b></p>
                <p> Alternativa 1:
                    Ele possui um controle de fluxo ao enviar os pacotes, que são disparados para todos que estiverem na rede.</p>
                <p> Alternativa 2:

                    Ele envia múltiplos pacotes por vez, entretanto não têm um controle de fluxo, não sabendo as rotas a serem utilizadas.
                </p>
                <p class="correto">
                    Alternativa 3:
                    Um Hub envia um pacote por vez, além de não saber qual o local início e término do processo de transferência dos pacotes de dados.
                </p>
                <p> Alternativa 4:
                    O Hub não possui um controle de fluxo, por isso, os múltiplos pacotes enviados por vez se perdem no caminho, demorando muito para chegar ao destino.</p>
                <p> Alternativa 5:
                    Um Hub envia vários pacote pode vez, entretanto mesmo tendo um controle de fluxo nem sabe o local de início e término da transferência dos dados.</p>

                <p><b>Resposta: Alternativa 3</b></p>
                <p>Comentário: Respostas já corrigida pela Universidade.</p>

                <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="./../../../assets/respostas/respostas07.png" class="d-block w-100" alt="respotas">
                        </div>
                    </div>
                </div>
                <div class="e">
                </div>

                <hr class="dropdown-divider">

                <div class="f">
                </div>

                <p>Em 1991, surgiu o que conhecemos como WEB, seu criador foi Tim Berners Lee, que desenvolveu uma linguagem que era capaz exibir documentos científicos dos laboratórios e de outras instituições de pesquisa. Este também que foi o criador dos navegadores, o mais conhecido Nexus, desde então, vários outros surgiram permitindo que mais recursos fossem implementados.

                    Com base em nossos estudos, analise as afirmações, a seguir, e assinale qual não contém uma linguagem interpretativa utilizada no desenvolvimento de páginas Web:
                      </p>

                <p><b>Alternativas</b></p>
                <p> Alternativa 1:
                    PHP, HTML, JQUERY.</p>
                <p class="correto"> Alternativa 2:

                    PHP, JAVA, CSS.
                </p>
                <p>
                    Alternativa 3:
                    HTML, JQUERY, CSS.
                </p>
                <p> Alternativa 4:
                    PHP, JAVA, HTML.</p>
                <p> Alternativa 5:
                    HTML, JAVA, JS.</p>

                <p><b>Resposta: Alternativa 2</b></p>
                <p>Comentário: Respostas já corrigida pela Universidade.</p>

                <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="./../../../assets/respostas/respostas08.png" class="d-block w-100" alt="respotas">
                        </div>
                    </div>
                </div>
                <div class="e">
                </div>

                <hr class="dropdown-divider">

                <div class="f">
                </div>

                <p>O padrão ethernet foi criado pela Xerox, em meados de 1980, e padronizado pelo IEEE como 802.3, com o intuito de definir um padrão de comunicação entre dispositivos dispostos em uma rede local, especificando padrões para a camada física e de enlace do Modelo OSI (TANENBAUM; WETHERALL, 2011).
                    TANENBAUM, A.; WETHERALL, D. J. Redes de Computadores. 5. ed. São Paulo: Pearson, 2011.
                    
                    A tecnologia ethernet teve evoluções consideráveis desde 1980, com base neste assunto e nosso material de estudo, analise as afirmações a seguir:
                     
                      </p>

                <p><b>Alternativas</b></p>
                <p> Alternativa 1:
                    O padrão Ethernet foi o primeiro a ser criado, que tinha como base os fios de telefone e com velocidade de até 10 Kbps.</p>
                <p> Alternativa 2:

                    O Fast Ethernet é considerado o padrão de transferência de dados mais rápido em redes internas, podendo chegar até 1000 Gbps.
                </p>
                <p>
                    Alternativa 3:
                    O padrão Ethernet trabalha apenas em modo Half-duplex, por ser um dos primeiros a implementar a transferência de dados em rede.
                </p>
                <p class="correto"> Alternativa 4:
                    Um dos padrões mais utilizados em redes de computadores é o Fast Ethernet, no qual os equipamentos trafegam os dados há 100 Mbps.</p>
                <p> Alternativa 5:
                    O padrão Gigabit Ethernet é considerado o tipo de transferência de dados mais rápido, trabalhando com a velocidade de 1000 GTbps em um rede local e 1 Tbps em um rede externa.</p>

                <p><b>Resposta: Alternativa 4</b></p>
                <p>Comentário: Respostas já corrigida pela Universidade.</p>

                <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="./../../../assets/respostas/respostas09.png" class="d-block w-100" alt="respotas">
                        </div>
                    </div>
                </div>
                <div class="e">
                </div>

                <hr class="dropdown-divider">

                <div class="f">
                </div>

                <p>Quando se tem a necessidade de implementar uma rede de computadores, é necessário, além dos computadores e impressoras, utilizar os equipamentos de conectividade. Assim, para interligar os servidores aos computadores e impressoras em uma rede local, utiliza-se o __________________, o qual consegue controlar cada porta de forma individualmente. Já para que se possa conectar uma rede a Internet, necessita-se de um __________________ , o qual possui a finalidade de interligar redes distintas.

                    Diante do exposto, assinale a alternativa que preenche, respectivamente, as lacunas de maneira correta:</p>

                <p><b>Alternativas</b></p>
                <p> Alternativa 1:
                    Switch, Hub.</p>
                <p> Alternativa 2:

                    Switch, Firewall.
                </p>
                <p>
                    Alternativa 3:
                    Roteador, Switch.
                </p>
                <p class="correto"> Alternativa 4:
                    Switch, Roteador.</p>
                <p> Alternativa 5:
                    Roteador, Firewall.</p>

                <p><b>Resposta: Alternativa 4</b></p>
                <p>Comentário: Respostas já corrigida pela Universidade.</p>

                <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="./../../../assets/respostas/respostas10.png" class="d-block w-100" alt="respotas">
                        </div>
                    </div>
                </div>
                <div class="e">
                </div>

                <hr class="dropdown-divider">

                <div class="f">
                </div>







                <h4>The end..</h4>
                <a href="index.html"><i class="bi bi-arrow-left"></i>Voltar a tela inicial</a>
                <div class="f">
                </div>


            </div>
        </div>
    </div>

</section>