<!-- ======= About Section ======= -->
<section id="about" class="about-mf sect-pt4 route">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="pagetitle">
                    <div class="e"></div>
                    <a href="index.html"><i class="bi bi-arrow-left"></i> Voltar para o início</a>
                    <div class="e"></div>
                </div>                <div class="box-shadow-full"> 
                    <div class="row">              
                        <div class="col-md-6">   
                            <div class="row">            
                                <div class="col-sm-6 col-md-5">           
                                    <div class="about-img z">
                                        <img src="assets/i.jpg" class="img-fluid rounded b-shadow-a" alt="">
                                    </div>                               
                                </div>
                                <div class="col-sm-6 col-md-7">
                                    <div class="about-info">
                                        <p><span class="title-s">Nome: </span> <span>Guilherme Moura Baccarin</span></p>
                                        <p><span class="title-s">Perfil: </span> <span>Desenvolvedor Back End - Java</span></p>
                                        <p><span class="title-s">E-mail: </span> <span>guilhermebacarin@hotmail.com</span></p>
                                        <p class="">
                                            <span class="title-s">Linkedin: </span> <br>
                                            <a href="https://www.linkedin.com/in/guilherme-baccarin-754595212/" target="_blank">www.linkedin.com</a><br>
                                           <br>    
                                       </p>
                                    </div>
                                </div>
                            </div>
                            <div class="skill-mf">
                                <p class="title-s">Skill</p>
                                <span>HTML</span> <span class="pull-right"> 30%</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 30%;" aria-valuenow="30"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <span>SCSS</span> <span class="pull-right"> 20%</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 20%" aria-valuenow="20"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <span>JavaScript</span> <span class="pull-right"> 30%</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 30%" aria-valuenow="30"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <span>Java</span> <span class="pull-right"> 70%</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="70"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <span>SQL</span> <span class="pull-right"> 70%</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="70"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <span>Spring</span> <span class="pull-right"> 50%</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <span>PostgreSQL</span> <span class="pull-right"> 70%</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="50"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <span>Docker</span> <span class="pull-right"> 40%</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 40%" aria-valuenow="40"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                              <br>
                                   
                              
                              
                         
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="about-me pt-4 pt-md-0">
                                <div class="pagetitle">
                                    <h1>Competências</h1>
                            
                                </div>
                          
                                <p class="lead">
                                    Desenvolvedor Back end, focado em Java 8+.
                                </p>

                                <div class="pagetitle">
                                    <h1>Formação</h1>
                            
                                </div>
                                <p class="lead">
                                   Graduando em Engenharia da Computação na UCPEL.<br>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End About Section -->