<loader></loader>
<app-header></app-header>
<app-nav></app-nav>
<main id="main" class="main">

  <div class="pagetitle">
    <h1>Cadastro de projeto</h1>
  </div>

  <section class="section">
    <div class="row">
      <div class="col-lg-12">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Novo projeto</h5>

            <form (ngSubmit)="onSubmit(data)">
              <div class="row gy-4">

                <div class="form-group col-md-6">
                  <label for="name">Nome</label>
                  <input type="nome" name="nome"  [(ngModel)]="data.nome" class="form-control" 
                    aria-describedby="nome" required minlength="4" #nome="ngModel">
                </div>

                <div class="form-group col-md-6">
                  <label for="etapa">Time</label>
                  <select class="form-select" (change)="observaTime($event)" >
                      <option *ngFor="let time of times" [value]="time.nome">{{time.nome}}</option>
                  </select>
                </div>
                
                <div class="form-group col-md-3">
                  <label for="dataInicio">Data de início</label>
                  <input type="date" name="dataInicio" class="form-control" [(ngModel)]="data.dataInicio"
                    aria-describedby="dataInicio"  id="dataInicio"  placeholder="dd/mm/yyyy" >
                </div>

                <div class="form-group col-md-3">
                  <label for="dataFim">Data de entrega</label>
                  <input type="date" name="dataFim" class="form-control" [(ngModel)]="data.dataFim"
                    aria-describedby="dataFim"  id="dataFim"  placeholder="dd/mm/yyyy">
                </div>
            

              </div>
              <br>
              <button type="submit" class="btn btn-primary">Salvar</button>
            </form>

            <br>
            <div class="input-group s">
              <div class="mb-3">
                  <div class=" col-md-12">
                      <input type="text" [(ngModel)]="pesquisa" name="pesquisa"
                          class="form-control" placeholder="Pesquisar">
                  </div>
  
                  
              </div>
              &nbsp;&nbsp;
              <div class="mb-3">
                  <div class=" col-md-12">
                      <button type="button" class="btn btn-primary"
                          (click)="pesquisar(pesquisa)">Pesquisar</button>
                  </div>
              </div>
          </div>

           <br>
            <div id="container">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Time</th>
                    <th scope="col">Data início</th>
                    <th scope="col">Etapa</th>
                    <th scope="col">Metodologia aplicada</th>
                    <th scope="col">Data fim</th>
                    <th scope="col">Ativo</th>
                  </tr>
                </thead>
  
                <tbody>
                  <tr *ngFor="let projeto of projetos | filter:filter; let i = index">
  
                    <th scope="row">{{projeto.nome}}</th>
                    <td>{{projeto.time == null ? "Sem time" : projeto.time.nome}}</td>
                    <td>{{projeto.dataInicio  | date: 'dd/MM/yyyy'}}</td>
                    <td *ngIf="projeto.etapa=='INICIO'" style="background-color: rgb(216, 34, 21); text-align: center">{{projeto.etapa}}</td>
                    <td *ngIf="projeto.etapa=='REQUISITOS'" style="background-color: rgba(255, 72, 0, 0.856);">{{projeto.etapa}}</td>
                    <td *ngIf="projeto.etapa=='DESENVOLVIMENTO'" style="background-color: rgb(255, 208, 0);">{{projeto.etapa}}</td>
                    <td *ngIf="projeto.etapa=='TESTE'" style="background-color: rgb(166, 255, 0);">{{projeto.etapa}}</td>    
                    <td *ngIf="projeto.etapa=='HOMOLOGACAO'" style="background-color: rgb(115, 255, 0);">{{projeto.etapa}}</td>
                    <td *ngIf="projeto.etapa=='FIM'" style="background-color: rgb(0, 255, 0);">{{projeto.etapa}}</td>

                    <td >{{projeto.metodologiaAplicada}}</td>
                    <td >{{projeto.dataFim  | date: 'dd/MM/yyyy'}}</td>
                    <td >{{projeto.ativo ? 'Sim' : 'Não' }}</td>
                    <td>

                      <a *ngIf="projeto.etapa!='FIM'" class="edit" title="Edit" href="javascript:void(0)" (click)="openModal(projeto.id)"><i
                          class="bi bi-pencil-square"></i></a>
                      &nbsp;&nbsp;
                      
                      <a *ngIf="projeto.etapa=='INICIO' || projeto.etapa=='REQUISITOS'" class="del" title="Delete" href="javascript:void(0)" (click)="delete(projeto.id)"><i
                          class="bi bi-x-circle"></i></a>
  
                      <a *ngIf="projeto.etapa!='FIM'" class="avancaEtapa" title="AvancaEtapa" href="javascript:void(0)" (click)="avancaEtapa(projeto.id)"><i
                        class="bi bi-forward-fill"></i></a>
  
                      <a  class="escolheMetodologia" title="EscolheMetodologia" href="javascript:void(0)" (click)="escolheMetodologia(projeto.id)">
                        <i class="bi bi-gpu-card"></i></a>
                        

                    </td>
                  </tr>
  
                </tbody>
              </table>
            </div>
           
          </div>
        </div>

      </div>


    </div>
  </section>

</main>





<!-- Modal -->
<div class="modal fade" id="modalProjeto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="card-title">Atualiza projeto</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">

              <form (ngSubmit)="updateProjeto(data)">

                <div class="row gy-4">

                  <div class="form-group col-md-12">
                    <label for="name">Nome</label>
                    <input type="nome" name="nome"  [(ngModel)]="data.nome" class="form-control" 
                      aria-describedby="nome" required minlength="4" #nome="ngModel">
                  </div>

                  <div class="form-group col-md-12">
                    <label for="etapa">Etapa</label>
                    <select class="form-select" (change)="observaEtapa($event)" >
                        <option *ngFor="let etapa of etapas" [value]="etapa">{{etapa}}</option>
                    </select>
                  </div>
                  
                  <div class="form-group col-md-6">
                    <label for="dataInicio">Data de início</label>
                    <input type="date" name="dataInicio" class="form-control" [(ngModel)]="data.dataInicio"
                      aria-describedby="dataInicio"  id="dataInicio"  placeholder="dd/mm/yyyy" >
                  </div>
  
                  <div class="form-group col-md-6">
                    <label for="dataFim">Data de entrega</label>
                    <input type="date" name="dataFim" class="form-control" [(ngModel)]="data.dataFim"
                      aria-describedby="dataFim"  id="dataFim"  placeholder="dd/mm/yyyy">
                  </div>
  
                </div>
          
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                  <button type="submit" class="btn btn-primary">Atualizar</button>
              </div>

              </form>

          </div>
      </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="modalEscolheMetodologia" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="card-title">Escolha da metodologia ágil</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">

              <form (ngSubmit)="escolheMetodologia(data)">


                    <label>SCRUM</label>
                    <div *ngFor="let pergunta of perguntasScrum" style="background-color: rgb(134, 131, 131)">
                      <label for="{{pergunta}}">{{ pergunta}}</label> <input class="form-check-input" type="checkbox" [value]="[pergunta]">
                    </div>
                    
                    <br>

                  <label>CRYSTAL</label>
                  <div *ngFor="let pergunta of perguntasCrystal" style="background-color: rgb(253, 253, 253)">
                    <label for="{{pergunta}}">{{ pergunta}}</label> <input class="form-check-input" type="checkbox" [value]="[pergunta]">
                  </div>

                  <br>

                  <label>LEAN</label>
                  <div *ngFor="let pergunta of perguntasLean" style="background-color: rgb(134, 131, 131)">
                    <label for="{{pergunta}}">{{ pergunta}}</label> <input class="form-check-input" type="checkbox" [value]="[pergunta]">
                  </div>

                  <br>

                  <label>KANBAN</label>
                  <div *ngFor="let pergunta of perguntasKanban" style="background-color: rgb(253, 253, 253)">
                    <label for="{{pergunta}}">{{ pergunta}}</label> <input class="form-check-input" type="checkbox" [value]="[pergunta]">
                  </div>

                  <br>

                  <label>XP</label>
                  <div *ngFor="let pergunta of perguntasXP" style="background-color:  rgb(134, 131, 131)">
                    <label for="{{pergunta}}">{{ pergunta}}</label> <input class="form-check-input" type="checkbox" [value]="[pergunta]">
                  </div>

                  <br>

                  <label>FDD</label>
                  <div *ngFor="let pergunta of perguntasKanban" style="background-color: rgb(253, 253, 253)">
                    <label for="{{pergunta}}">{{ pergunta}}</label> <input class="form-check-input" type="checkbox" [value]="[pergunta]">
                  </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                  <button type="submit" class="btn btn-primary">Atualizar</button>
              </div>

              </form>

          </div>
      </div>
  </div>
</div>