h1 {
    font-family: NewYorkTimes;
}

#container {
    overflow: auto;
}


.imagemFluxoRest{
    width: 70% !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.json{
    width: 50% !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.xml{
    width: 50% !important;
    display: block;
    margin-left: auto;
    margin-right: auto; 
}