<loader></loader>
<app-header></app-header>
<app-nav></app-nav>
<main id="main" class="main">

  <div class="pagetitle">
    <h1>Cadastro de Funcionario</h1>
  </div>

  <section class="section">
    <div class="row">
      <div class="col-lg-12">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Novo Funcinário</h5>

            <form (ngSubmit)="teste()">
              <div class="row gy-4">

                <div class="form-group col-md-6">
                <label for="name">Usuário</label>
                <select class="form-select" (change)="observaUsuario($event)"  >
                    <option *ngFor="let usuario of usuarios" [value]="data.idUsuario">{{usuario.pessoa.nome}}</option>
                </select>
              </div>

              <div class="form-group col-md-6">
                <label for="name">Empresa</label>
                <select class="form-select" (change)="observaEmpresa($event)" >
                    <option *ngFor="let empresa of empresas" [value]="empresa.id">{{empresa.nome}}</option>
                </select>
              </div>

              </div>
              <br>
              <button type="submit" class="btn btn-primary">Salvar</button>
            </form>
            <br>


            <div class="row align-items-start">
            
              <div class="input-group s">
                  <div class="mb-3">
                      <div class=" col-md-12">
                          <input type="text" [(ngModel)]="pesquisa" name="pesquisa"
                              class="form-control" placeholder="Pesquisar">
                      </div>

                      
                  </div>
                  &nbsp;&nbsp;
                  <div class="mb-3">
                      <div class=" col-md-12">
                          <button type="button" class="btn btn-primary"
                              (click)="pesquisar(pesquisa)">Pesquisar</button>
                      </div>
                  </div>


              </div>

        
          </div>

            <br>
            <div id="container">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Funcionário</th>
                    <th scope="col">Empresa</th>
                  </tr>
                </thead>

                <tbody>
                  <tr *ngFor="let funcionario of funcionarios | filter:filter; let i = index">

                    <th scope="row">{{funcionario.usuario.pessoa.nome}}</th>
                    <td>{{funcionario.empresa.nome}}</td>
                    <td>

                      <a class="edit" title="Edit" href="javascript:void(0)" (click)="edit(funcionario.id)"><i
                          class="bi bi-pencil-square"></i></a>
                      &nbsp;&nbsp;
                      
                      <a class="del" title="Delete" href="javascript:void(0)" (click)="delete(funcionario.id)"><i
                          class="bi bi-x-circle"></i></a>



                    </td>
                  </tr>

                </tbody>
              </table>
            </div>
           
           
          </div>
        </div>

      </div>


    </div>
  </section>

</main>




<!-- Modal -->
<div class="modal fade" id="modalFuncionario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="card-title">Atualiza funcionário</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">

              <form (ngSubmit)="updateFuncionario(data)">

                <div class="form-group col-md-6">
                  <label for="name">Usuário</label>
                  <select class="form-select" (change)="observaUsuario($event)"  >
                      <option *ngFor="let usuario of usuarios" [value]="data.idUsuario">{{usuario.pessoa.nome}}</option>
                  </select>
                </div>
  
                <div class="form-group col-md-6">
                  <label for="name">Empresa</label>
                  <select class="form-select" (change)="observaEmpresa($event)" >
                      <option *ngFor="let empresa of empresas" [value]="empresa.id">{{empresa.nome}}</option>
                  </select>
                </div>

                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                      <button type="submit" class="btn btn-primary">Atualizar</button>
                  </div>
              </form>

          </div>
      </div>
  </div>
</div>