<loader></loader>
<app-header></app-header>
<app-nav></app-nav>
<main id="main" class="main">

  <div class="pagetitle">
    <h1>Cadastro de Funcionario</h1>
  </div>

  <section class="section">
    <div class="row">
      <div class="col-lg-12">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Novo Funcinário</h5>

            <form (ngSubmit)="onSubmit(data)">
              <div class="row gy-4">

                <div class="form-group col-md-6">
                  <label for="name">Usuário</label>
                  <input type="usuario" name="usuario"  [(ngModel)]="data.usuario" class="form-control" 
                    aria-describedby="usuario" required minlength="4" #nome="ngModel">

                </div>
              
                <div class="form-group col-md-6">
                  <label for="name">Empresa</label>
                  <input type="empresa" name="empresa"  [(ngModel)]="data.empresa" class="form-control" 
                    aria-describedby="empresa" required minlength="4" #nome="ngModel">

                </div>

              </div>
              <br>
              <button type="submit" class="btn btn-primary">Salvar</button>
            </form>

            <br>
            <div id="container">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Empresa</th>
                    <th scope="col">Funcionário</th>
                  </tr>
                </thead>

                <tbody>
                  <tr *ngFor="let funcionario of funcionarios | filter:filter; let i = index">

                    <th scope="row">{{funcionario.empresa.nome}}</th>
                    <td>{{funcionario.usuario.pessoa.nome}}</td>
                    <td>

                      <a class="edit" title="Edit" href="javascript:void(0)" (click)="edit(funcionario.id)"><i
                          class="bi bi-pencil-square"></i></a>
                      &nbsp;&nbsp;
                      
                      <a class="del" title="Delete" href="javascript:void(0)" (click)="delete(funcionario.id)"><i
                          class="bi bi-x-circle"></i></a>



                    </td>
                  </tr>

                </tbody>
              </table>
            </div>
           
           
          </div>
        </div>

      </div>


    </div>
  </section>

</main>