<loader></loader>
<!DOCTYPE html>
<html lang="en">

<head>

     <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8511163487656782"
     crossorigin="anonymous"></script>

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

</head>

<body>

  <main>
    <div class="container">

      <section class="min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
              
              <div class="d-flex justify-content-center py-4">
                <button type="button" class="btn btn-light" (click)="voltar()"><i class="bi bi-arrow-left"></i> Voltar tela inicial</button>
                <a href="/index.html" class="logo d-flex align-items-center w-auto">
                </a>
              </div>

              <div class="card mb-3">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <p class="obs">To access, request access credentials <a href="javascript:void(0)" routerLink="/sendmessage">here.</a></p>
                    <h5 class="card-title text-center pb-0 fs-4">Login</h5>
                    <!-- <div class="d-flex justify-content-center">
                      <a href="/index.html" class="logo d-flex align-items-center w-auto">
                        <img src="assets/favoicon.png" alt="">
                   
                      </a>
                    </div> -->
                    
                    <p class="text-center small">Auth</p>
                  </div>

                  <form class="row g-3 needs-validation" (ngSubmit)="onSubmit(data)">

                    <div class="col-12">
                      <label for="yourUsername" class="form-label">User</label>
                      <div class="input-group">
                        <input type="email" name="login" [(ngModel)]="data.login" class="form-control" 
                        aria-describedby="emailHelp"  required minlength="2" #email="ngModel">
                      </div>

                      <br>
                      <label for="yourUsername" class="form-label">Password</label>
                      <div class="input-group">
                        <input type="password" name="senha" class="form-control" [(ngModel)]="data.senha" 
                          aria-describedby="emailHelp" required minlength="2" #password="ngModel">
                      </div>

                     
                      <!-- <p class="cor" *ngIf="erro==true">
                        CPF não encontrado
                      </p> -->
                    </div>

                    <div class="col-12">
                      <!-- <label for="yourPassword" class="form-label">Password</label>
                        <input type="password" name="passwword" class="form-control" id="yourPassword" required>
                        <div class="invalid-feedback">Please enter your password!</div> -->
                    </div>
                    <!-- <div class="e"></div> -->
                    <div class="d-flex justify-content-center" >
                      <re-captcha (resolved)="resolved($event)" siteKey="6LdQJCAcAAAAAGq5ymJKHifRPzK6UtIwGnpvgwKd" language="en"></re-captcha>
                    </div>

                    <div class="col-12">

                      <button class="btn btn-primary w-100" type="submit" [disabled]="!password.valid || !email.valid" >Go</button>
                      <!-- <button class="btn btn-primary w-100" type="submit" [disabled]="!cpf.valid">Login</button> -->
                    </div>

                    <div class="col-12">
                      <!-- <p class="small mb-0">Don't have account? <a href="pages-register.html">Create an account</a></p> -->
                    </div>

                  </form>

                  
                  

                </div>
              </div>
 
              <div class="credits">

                By <a href="https://marcoaf.website/profile">Guilherme Baccarin</a>

              </div>
            </div>
          </div>
        </div>

      </section>

    </div>
  </main>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>


</body>

</html>





