<loader></loader>
<app-header></app-header>
<app-nav></app-nav>
<main id="main" class="main">

  <div class="pagetitle">
    <h1>Send me a message</h1>
    <!-- <p>Two-way data binding</p>
    <p>{{data.email}}</p>
    <p>{{data.nome}}</p>
    <p>{{data.telefone}}</p>
    <p>{{data.mensagem}}</p> -->


  </div>

  <section class="section">
    <div class="row">
      <div class="col-lg-12">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Email</h5>
            <p>If you enter your correct email, you will receive a copy of the email.</p>

            <form (ngSubmit)="onSubmit(data)">
              <div class="row gy-4">

                <div class="form-group col-md-4">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" name="email" [(ngModel)]="data.email" class="form-control" id="exampleInputEmail1"
                    aria-describedby="emailHelp" required #email="ngModel">
             
                 
                </div>

                <!-- <div class="form-group col-md-4">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" name="email" [(ngModel)]="data.email" class="form-control" id="exampleInputEmail1"
                    aria-describedby="emailHelp" required minlength="4" #email="ngModel">
                    <p class="cor" *ngIf="email.invalid && email.touched">Required</p>
                </div> -->

                <div class="form-group col-md-4">
                  <label for="exampleInputEmail1">Name</label>
                  <input type="email" name="nome" class="form-control" [(ngModel)]="data.nome" id="exampleInputEmail1"
                    aria-describedby="emailHelp">
                </div>

                <div class="form-group col-md-4">
                  <label for="exampleInputEmail1">Phone</label>
                  <input type="text" name="telefone" class="form-control" [(ngModel)]="data.telefone" id="exampleInputEmail1"
                    aria-describedby="emailHelp">
                </div>

                <div class="form-group col-md-12">
                    <label for="exampleFormControlTextarea1" >Message</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" name="mensagem" [(ngModel)]="data.mensagem"  rows="3"></textarea>
                </div>
               

              </div>
              <div class="e"></div>
              <div >
                <re-captcha (resolved)="resolved($event)" siteKey="6LdQJCAcAAAAAGq5ymJKHifRPzK6UtIwGnpvgwKd" language="en"></re-captcha>
              </div>
              <div class="e"></div>
              <button type="submit" class="btn btn-primary" [disabled]="!email.valid">Submit</button>
            </form>

          </div>
        </div>

      </div>


    </div>
  </section>

</main>