<section class="section">

    <div class="row">
        <div class="col-lg-12">
            <div class="container">

                <div class="pagetitle">
                    <div class="e"></div>
                    <a href="index.html"><i class="bi bi-arrow-left"></i> Voltar para o início</a>
                    <div class="e"></div>
                </div>

                <h1>XP</h1>
                <br>
                <div>
                    <p> O XP (Extreme Programming ou Programação Extrema) é uma metodologia focada no desenvolvimento de software que possui valores e princípios, onde são fundamentados por um conjunto de práticas. </p>
                    <p> É uma metodologia leve que pode facilmente ser adotada por diferentes níveis de desenvolvedores (experientes ou não) e em qualquer tamanho de equipe. </p>
                    <p> É uma excelente metodologia por se adaptar a requisitos que às vezes podem mudar rapidamente.</p>
                    <p> Tem como principal objetivo fazer ciclos de entregas rápidos, contínuos e incrementais, para atingir os resultados esperados pelo cliente.</p>
                    <p> Feito com base em práticas e etapas predefinidas para que o processo tenha a máxima eficácia.<p> 
                    <p> O software desenvolvido em ciclos semanais, com reuniões periódicas entre cliente e equipe de desenvolvimento.</p>
                </div>
                
                <div class="f"> </div> 

                <div class="imagemXP" >
                    <img src="assets/img/metodologia/xp/xp.png">
                </div>

                <div class="f"> </div> 

                <div>
                    <h4>Práticas</h4>
                    <br>
                       <ul>

                            <li> Cliente presente
                                <ul> <li>
                                    <span> O cliente deve participar ativamente do processo de desenvolvimento. Tudo precisa da comunicação com o cliente. Ele deve receber o melhor resultado possível a cada semana, ver o progresso no sistema, ser informado de mudanças de planos.</span>
                                </li></ul>
                                </li>
                            <br>
                            <li> Equipe homogênea
                            <ul> <li>
                                <span> Propõe uma única unidade colaborativa, que agrupa conhecimento de negócio e conhecimento técnico.</span>
                            </li></ul>
                            </li>
                            <br>
                            <li> Jogos de planejamento
                                <ul> <li>
                                    <span> O planejamento no Extreme programming é interativo, com vários debates e simulações. Diferentemente do método tradicional de desenvolvimento que se documenta para depois planejar, no XP primeiro se gasta um bom tempo planejando para depois documentar.</span>
                                </li></ul>
                            </li>
                            <br>
                            <li> Entregas curtas
                                <ul> <li>
                                    <span> Pequenas versões ou incrementos do projeto são permitidas e incentivadas, auxiliando no processo de aceitação do cliente, possibilitando que o feedback dele seja feito em intervalos menores, minimizando os riscos e aumentando as chances de um produto adequado.</span>
                                </li></ul>
                            </li>
                            <br>
                            <li> Teste do usuário
                                <ul> <li>
                                    <span> Os testes são considerados fundamentais para o software ser entregue com mais assertividade. A partir dos testes realizados com o cliente, a equipe de desenvolvimento constrói ferramentas para automatização, de modo que a cada iteração rode perfeitamente.</span>
                                </li></ul>
                            </li>
                            <br>
                            <li> Refatoração
                                <ul> <li>
                                    <span> É um processo que permite a melhoria contínua da programação, o mínimo de introdução de erros e mantendo compatibilidade com o código já existente. Refatorar melhora a clareza, leitura do código e facilita a manutenção. Além disso, o código fica mais coeso e você tem um melhor aproveitamento, evitando duplicação no código fonte.</span>
                                </li></ul>
                            </li>
                        </ul>
                </div>

                <div class="f"> </div>

                <div>
                    <h4>Quando usar</h4>
                       <ul>
                            <li> A equipe de tecnologia é pequena, não superior a 12 pessoas.</li>
                            <li> O gestor prevê riscos causados por projetos de tempo fixo, com a utilização de novas tecnologias. </li>
                            <li> Há projetos de pesquisa que prevêem mudanças constantes.</li>
                            <li> A tecnologia que os desenvolvedores estão utilizando permite testes automatizados de unidades e funcionalidades.</li>  
                            <li> Há alteração dinâmica dos requisitos do software e mudanças no escopo do projeto.</li>  
                        </ul>
                </div>

                <div class="f">
                </div>

    

            </div>
        </div>
    </div>

</section>