<app-nav></app-nav>
<app-header></app-header>

<main id="main" class="main">

  <div class="pagetitle">
    <h1>Notes</h1>
    <p>Add, delete, edit notes.</p>

  </div>

  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card col">
          <div class="card-body">

            <div class="espaco"></div>
            <div class="col">
                <button type="button" class="btn btn-primary"
                    (click)="openModal()">Add/Edit notes</button>
            </div>

            <div>
             
              <!-- <form (ngSubmit)="onSubmit(data)">
                <div class="mb-3">
                  <div class=" col-md-4">
                    <label for="formGroupExampleInput" class="form-label">Title</label>
                    <input type="text" class="form-control" id="formGroupExampleInput" [(ngModel)]="data.title"
                      name="nome" placeholder="Note title..." required #title="ngModel">
                  </div>
                </div>

                <div class="mb-3">
                  <div class=" col-md-12">
                    <label for="formGroupExampleInput" class="form-label">Description</label>
           
                    <textarea class="form-control" [(ngModel)]="data.description" name="enderecoBuscaTitular"
                      placeholder="Note description..." id="exampleFormControlTextarea1" rows="3"></textarea>
                  </div>
                </div>


                <button type="submit" class="btn btn-primary" [disabled]="!title.valid">Submit</button>
              </form> -->

              <h5 class="card-title">List of registered notes</h5>
              <div class="col-md-4">
                <input autocomplete="off" placeholder="Search note" class="form-control" type="text" name="search"
                  [(ngModel)]="filter" />
              </div>
              <div id="container">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">ID</th>
                      <th scope="col">Title</th>
                      <th scope="col">Description</th>
                      <th scope="col">Action</th>
                  
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let note of notes | filter:filter | paginate:{itemsPerPage: 10, currentPage: p } let i = index">

                      <th scope="row">{{note.id}}</th>
                      <td>{{note.title}}</td>
                      <td>{{note.description}}</td>
                      <td>


                        <a class="edit" title="Edit" href="javascript:void(0)" (click)="edit(note.id)"><i
                            class="bi bi-pencil-square"></i></a>
                        &nbsp;&nbsp;
                        <a class="del" title="Delete" href="javascript:void(0)" (click)="del(note.id,note.title)"><i
                            class="bi bi-x-circle"></i></a>



                      </td>
                    
                    </tr>

                  </tbody>
                </table>
                <pagination-controls (pageChange)="p = $event" previousLabel="Anterior"
                nextLabel="Próxima">
            </pagination-controls>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


</main>












<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="card-title">Add / Edit notes</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">



        <div>

          <form (ngSubmit)="onSubmit(data)">
            <div class="mb-3">
              <div class=" col-md-12">
                <label for="formGroupExampleInput" class="form-label">Title</label>
                <input type="text" class="form-control" id="formGroupExampleInput" [(ngModel)]="data.title" name="nome"
                  placeholder="Note title..." required #title="ngModel">
              </div>
            </div>

            <div class="mb-3">
              <div class=" col-md-12">
                <label for="formGroupExampleInput" class="form-label">Description</label>
                <!-- <input type="text" class="form-control" id="formGroupExampleInput"
                  [(ngModel)]="data.description" name="enderecoBuscaTitular"
                  placeholder="Note description..."> -->
                <textarea class="form-control" [(ngModel)]="data.description" name="enderecoBuscaTitular"
                  placeholder="Note description..." id="exampleFormControlTextarea1" rows="20"></textarea>
              </div>
            </div>



            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary" [disabled]="!title.valid">Submit</button>
            </div>
          </form>



        </div>


      </div>
    </div>
  </div>
</div>



