<loader></loader>
<app-header></app-header>
<app-nav></app-nav>
<main id="main" class="main">

  <div class="pagetitle">
    <h1>Cadastro de Empresa</h1>
  </div>

  <section class="section">
    <div class="row">
      <div class="col-lg-12">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Nova Empresa</h5>

            <form (ngSubmit)="onSubmit(data)">
              <div class="row gy-4">

                <div class="form-group col-md-6">
                  <label for="name">Nome</label>
                  <input type="nome" name="nome"  [(ngModel)]="data.nome" class="form-control" 
                    aria-describedby="nome" required minlength="4" #nome="ngModel">

                </div>
                
                <div class="form-group col-md-6">
                  <label for="cnpj">CNPJ</label>
                  <input type="text" name="cnpj" [(ngModel)]="data.cnpj" class="form-control" 
                    aria-describedby="cnpj" required minlength="4" #nome="ngModel" mask="000.000.000-00">
                </div>            

              </div>
              <br>
              <button type="submit" class="btn btn-primary">Salvar</button>
            </form>
            <br>

          <div class="row align-items-start">
            
              <div class="input-group s">
                  <div class="mb-3">
                      <div class=" col-md-12">
                          <input type="text" [(ngModel)]="pesquisa" name="pesquisa"
                              class="form-control" placeholder="Pesquisar">
                      </div>

                  </div>
                  &nbsp;&nbsp;
                  <div class="mb-3">
                      <div class=" col-md-12">
                          <button type="button" class="btn btn-primary"
                              (click)="pesquisar(pesquisa)">Pesquisar</button>
                      </div>
                    </div>
              </div>      
          </div>

           <br>
            <div id="container">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">CNPJ</th>
                  </tr>
                </thead>

                <tbody>
                  <tr *ngFor="let empresa of empresas | filter:filter; let i = index">

                    <th scope="row">{{empresa.nome}}</th>
                    <td>{{empresa.cnpj}}</td>
                    <td>

                      <a class="edit" title="Edit" href="javascript:void(0)" (click)="openModal(empresa.id)"><i
                          class="bi bi-pencil-square"></i></a>
                      &nbsp;&nbsp;
                      <a class="del" title="Delete" href="javascript:void(0)" (click)="delete(empresa.id)"><i
                          class="bi bi-x-circle"></i></a>

                    </td>
                  </tr>
                </tbody>
              </table>
            </div>        
          </div>
        </div>
      </div>
    </div>
  </section>

</main>



<!-- Modal -->
<div class="modal fade" id="modalEmpresa" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="card-title">Atualiza empresa</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">

              <form (ngSubmit)="updateEmpresa(data)">

                  <div class="mb-3">
                      <div class=" col-md-12">
                          <label for="nome" class="form-label">Nome</label>
                          <input type="text" class="form-control" id="nome"
                              [(ngModel)]="data.nome" name="nome" placeholder="data.nome">
                      </div>
                  </div>
                  <div class="mb-3">
                      <div class=" col-md-12">
                          <label for="cnpj" class="form-label">CNPJ</label>
                          <input type="text" class="form-control" id="cnpj"
                              [(ngModel)]="data.cnpj" name="cnpj" placeholder="data.cnpj">
                      </div>
                  </div>

                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                      <button type="submit" class="btn btn-primary">Atualizar</button>
                  </div>
              </form>

          </div>
      </div>
  </div>
</div>