<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link collapsed" routerLink="/">
                <i class="bi bi-house"></i>
                <span>Home</span>
            </a>
        </li>


        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#"> <i
                    class="bi bi-book"></i><span>Metodologias</span><i class="bi bi-chevron-down ms-auto"></i> </a>
            <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">

                <li class="nav-item">
                    <a class="nav-link collapsed" routerLink="/metodologias/xp">
                        <i class="bi bi-circle-fill"></i>
                        <span>XP</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link collapsed" routerLink="/metodologias/scrum">
                        <i class="bi bi-circle-fill"></i>
                        <span>Scrum</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link collapsed" routerLink="/metodologias/kanban">
                        <i class="bi bi-circle-fill"></i>
                        <span>Kanban</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link collapsed" routerLink="/metodologias/fdd">
                        <i class="bi bi-circle-fill"></i>
                        <span>FDD</span>
                    </a>
                </li>

            </ul>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" routerLink="/profile">
                <i class="bi bi-person"></i>
                <span>Sobre mim</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse" href="#"> <i
                    class="bi bi-lock"></i><span>Restricted</span><i class="bi bi-chevron-down ms-auto"></i> </a>
            <ul id="icons-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">

            

                <li class="nav-item">
                    <a class="nav-link collapsed" routerLink="/notes">
                        <i class="bi bi-circle-fill"></i>
                        <span>TESTE</span>
                    </a>
                </li>
        
                <li class="nav-item">
                    <a class="nav-link collapsed" routerLink="/register">
                        <i class="bi bi-circle-fill"></i>
                        <span>Projeto</span>
                    </a>
                </li>
        
                <li class="nav-item">
                    <a class="nav-link collapsed" href="javascript:void(0)" (click)="logout()">
                        <i class="bi bi-circle-fill"></i>
                        <span>Sair</span>
                    </a>
                </li>



            </ul>
        </li>

       

    </ul>

</aside>