<section class="section">

    <div class="row">
        <div class="col-lg-12">
            <div class="container">

                <div class="pagetitle">
                    <div class="e"></div>
                    <a href="index.html"><i class="bi bi-arrow-left"></i> Voltar para o início</a>
                    <div class="e"></div>
                </div>
                
                <h1>Kanban</h1>
                <br>
                <div>
                    <p> Estrutura popular usada para implementar o desenvolvimento de software ágil e de DevOps</p>
                    <p> Precisa de comunicação de capacidade em tempo real e transparência total de trabalho. </p>
                    <p> Ganham representação visual em um quadro Kanban, permitindo que os membros da equipe vejam o estado de cada parte do trabalho a qualquer momento.</p>
                
                    <ul>
                        <li> Quadro Kanban 

                            <div class="f"> </div> 
    
                            <div class="imagemKanban" >
                                <img src="assets/img/metodologia/kanban/quadro.png">
                            </div>
            
                            <div class="f"> </div>

                            <ul> 
                                <li> 
                                    Ferramenta usada para visualizar o trabalho e otimizar o fluxo do trabalho
                                     entre a equipe.
                                </li>
                                <li>
                                    permitir que os membros da equipe acompanhem seu andamento por meio do fluxo de trabalho
                                </li>
                                <li>
                                    Apresenta informações
                                    <ul>
                                        <li> Responsável </li>
                                        <li> Breve descrição da tarefa</li>
                                        <li> Estimativa de tempo</li>
                                        <li> Detalhes técnicos</li>
                                    </ul>
                                </li>
                                <br>

                                <li> Funções
                                    <ul>
                                        <li> Assegurar que o trabalho da equipe seja visualizado.</li>
                                        <li> Fluxo de trabalho padronizado</li>
                                    </ul>
                                </li>
                                <br>

                                <li> Etapas
                                    <ul>
                                        <li> Fazer 
                                            <ul>

                                            </ul>
                                        </li>

                                        <li> Em progresso
                                            <ul>

                                            </ul>
                                        </li>

                                        <li> Finalizado
                                            <ul>

                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <br>

                                <li> Vantagens 
                                    <ul>
                                        <li> Rastreabilidade</li>
                                        <li> Colaboração </li>
                                        <li> Acessibilidade de vários locais</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>

                </div>
                


                <div class="f"> </div>

                <div>
                    <h4> Benefícios</h4>
                    <br>
                       <ul>
                            <li> Flexibilidade de planejamento
                                <ul>
                                    <li> Equipe concentra-se apenas na atividade ativa.</li>
                                    <li> Proprietário livre para escolher o item de maior prioridade sem iterromper os anteriores.</li>
                                </ul>
                            </li>
                            <br>

                            <li> Ciclos reduzidos 
                                <ul>
                                    <li> Tempo de ciclo é a quantidade de tempo que uma unidade de trabalho leva para passar pelo fluxo de trabalho. </li>
                                    <li> Sobreposição de conjuntos de habilidades leva a tempos de ciclo menores.</li>
                                    <li> Habilidades compartilhadas significam que os membros da equipe podem assumir um trabalho heterogêneo.</li>
                                    <li> Estrutura Kanban, é responsabilidade de toda a equipe assegurar que o trabalho esteja avançando perfeitamente pelo processo.</li>
                                </ul>
                            </li>
                            <br>
                        </ul>
                </div>

                <div class="f">
                </div>

    

            </div>
        </div>
    </div>

</section>