<section class="section">

    <div class="row">
        <div class="col-lg-12">
            <div class="container">

                <div class="pagetitle">
                    <div class="e">
                    </div>
                    <a href="index.html"><i class="bi bi-arrow-left"></i> Voltar para o início</a>
                    <div class="e">
                    </div>
                </div>


                <h1> Crystal </h1>
                <br>
                <div>
                    <p> Utilizada tanto para projetos pequenos quanto para projetos maiores.</p>
                    <p> Dependendo do grau de criticidade e tamanho, cada projeto utilizará uma metodologia de cor ou rigidez diferente. </p>

                    <p>Foi criado uma maneira para facilitar na escolha da metodologia mais adequada, dividindo em quatro categorias:</p>
                    <ul>
                        <li> Conforto (C)
                            <ul>
                                <li> Em situações de falhas, existem outras maneiras de manter a comunicação</li>
                            </ul>
                            <br>
                        </li>

                        <li> Baixo Custo (D)
                            <ul>
                                <li> Situações falhas levam à uma perda de dinheiro, mas não o suficiente para parar o projeto, ou levar a falência.</li>
                            </ul>
                            <br>
                        </li>

                        <li> Alto Custo (E) 
                            <ul>
                                <li> Casos em que a falha do projeto ocasiona uma perda financeira significativa.</li>
                            </ul>
                            <br>
                        </li>

                        <li> Risco de Vida (L)
                            <ul>
                                <li>Casos em que a falha do sistema pode culminar em acidentes fatais.</li>
                            </ul>
                            <br>
                        </li>
                    </ul>

                    <div class="f"> </div> 
    
                    <div class="imagemCriticidadeCrystal" >
                        <img src="assets/img/metodologia/crystal/criticidade.png">
                    </div>
                    <br>
                    <p> Projetos com cores claras como Yellow e Clear, possuem menor grau de criticidade e 
                        portanto envolve poucos desenvolvedores, já os projetos com cores escuras, como Orange e Red, 
                        possuem um número maior de profissionais por serem projetos maiores ou com um maior grau de 
                        segurança crítica. O número ao lado do caracter que indica a criticidade do projeto, 
                        e o número de pessoas envolvidas no mesmo.
                    </p>

                    <div class="f"> </div>

                    <ul>
                        <li> Possuem como ênfase entregas frequentes.</li>
                        <li> Foco na comunicação e cooperação entre as pessoas envolvidas.</li>
                        <li> Cada projeto possui um ciclo de desenvolvimento de um a três meses, podendo ser estendido.</li>
                        <li> Possui um padrão de política, produtos de trabalho e ferramentas.</li>
                        <li> Possui padrões e papéis a serem seguidos durante o processo de desenvolvimento.</li>
                        <li> Feedback constante e participação ativa do cliente.</li>
                    </ul>


                </div>
            </div>
        </div>
    </div>

</section>