<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>
  <loader></loader>
   <app-header></app-header>
    <app-nav></app-nav>
    <main id="main" class="main">

        <div class="pagetitle">
            <h1>Bem-Vindos!</h1>
    
        </div>

        <section class="section">
            <div class="row">
                <div class="col-lg-12">
                <p> Aplicação desenvolvida com o objetivo de auxiliar empresas e desenvolvedores no 
                  processo de obtenção de requisitos e escolherem uma metodologia adequada para um 
                  projeto de desenvolvimento de software aplicando os conceitos 
                  da Engenharia de Software.</p>   
                  <p> Desenvolvida por <a href="http://localhost:4200/profile">Guilherme Baccarin</a>
                  como projeto refente ao trabalho de conclusão de curso na Universidade Católica de Pelotas
                  do curso de Engenharia da Computação no ano de 2022.</p>             
            </div>
             

                
              
            </div>
        </section>

    </main>

    <footer id="footer" class="footer">

        <div class="credits">
          <!-- PESQUISAR H REF OUTRA TELA-->
            By <a href="http://localhost:4200/profile">Guilherme Baccarin</a>
        </div>
    </footer>

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

</body>

</html>